<section class="contact-section">
    <p>PARTE CONTACT SECTION</p>
</section>
<style>
    .contact-section {
        background-color: white;
        color: #000000;
        height: 427px;
        overflow: hidden;
    }
</style>