---
import Button from './Button.astro';
---

<section class="hero-section">
    <h1>Monitoreo en Tiempo Real para la Seguridad Laboral</h1>
    <p>Protege a tus trabajadores con SafeBuild</p>
    <Button text="Comenzar Ahora" href="/iniciar-sesion" />
</section>
<style>
    .hero-section {
        background-color: #fff;
        height: 601px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    h1{
        width: 923px;
        height: 130px;
        text-align: center;
    }
    p{
        font-size: 30px;
        height: 30px;
        margin-bottom: 3rem;
    }
</style>