---
import Button from './Button.astro';
---

<section id="inicio">
    <h1>Monitoreo en Tiempo Real para la Seguridad Laboral</h1>
    <p>Protege a tus trabajadores con SafeBuild</p>
    <Button text="Comenzar Ahora" href="#contacto" />
</section>
<style>
    #inicio {
        background-color: #fff;
        min-height: 601px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
        padding: 1rem;
    }
    h1{
        max-width: 923px;
        max-height: 130px;
        text-align: center;
    }
    p{
        font-size: clamp(20px, 2vw, 30px);
        max-height: 30px;
        margin-bottom: 3rem;
    }
    @media (max-width: 768px) {
        p{
            max-width: 300px;
        }
    }
</style>